<mat-toolbar>
  <span>Bill created successfully !</span>
</mat-toolbar>
<div class="new-bill-date">Order</div>
<div class="new-bill-date">
  <ul>
    <li>US POLO T-shirt(Mens)</li>
    <li>Denims Trouser</li>
    <li>Adidas cap (Mens)</li>
  </ul>
</div>
<div class="new-bill-date">Total items : 3</div>
<div class="new-bill-date">Delivery address: Hno 9-2-29, Nehurunagar, Sircilla 505301 </div>


<div class="modal-footer">
  <button class="new-button" mat-raised-button color="primary" (click)="clear()">
    <span>Print</span>
  </button>
  <button class="new-button" mat-raised-button color="warn" (click)="clear()">
    <span> Cancel</span>
  </button>
</div>
