<mat-toolbar>
  <span>Bill created successfully !</span>
</mat-toolbar>
<div class="new-bill-date">Order</div>
<div class="new-bill-date">
  <ul>
    <li>Hyderabadi Biriyani</li>
    <li>Dalcha</li>
    <li>Khabab</li>
  </ul>
</div>
<div class="new-bill-date">Total items : 3</div>
<div class="new-bill-date">Contact Number: 8879819795</div>
<div class="new-bill-date">Delivery address: D-No - A.806 , PBEL City , Jubillee Hills , Hyderabad - 500091 </div>

<div class="modal-footer">
  <button class="new-button" mat-raised-button color="primary" (click)="clear()">
    <span>Print</span>
  </button>
  <button class="new-button" mat-raised-button color="warn" (click)="clear()">
    <span> Cancel</span>
  </button>
</div>
