.home{
  background: whitesmoke;
  padding: 10px;
  min-height: 100vh;
}
.bill-card{
  width: 50%;
  margin: 10px;
  cursor: pointer;
}
.button-text {
  font-weight: 500;
  position: relative;
  bottom: 5px;
}
