<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- billId Column -->
  <ng-container matColumnDef="billId">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.billId}} </td>
  </ng-container>

  <!-- billDate Column -->
  <ng-container matColumnDef="billDate">
    <th mat-header-cell *matHeaderCellDef> billDate </th>
    <td mat-cell *matCellDef="let element"> {{element.billDate}} </td>
  </ng-container>

  <!-- totalCost Column -->
  <ng-container matColumnDef="totalCost">
    <th mat-header-cell *matHeaderCellDef> totalCost </th>
    <td mat-cell *matCellDef="let element"> {{element.totalCost}} </td>
  </ng-container>

  <!-- totalItem Column -->
  <ng-container matColumnDef="totalItem">
    <th mat-header-cell *matHeaderCellDef> totalItem </th>
    <td mat-cell *matCellDef="let element"> {{element.totalItem}} </td>
  </ng-container>

  <!-- totalItem Column -->
  <ng-container matColumnDef="billOrderFK">
    <th mat-header-cell *matHeaderCellDef> bill Order FK </th>
    <td mat-cell *matCellDef="let element"> {{element.billOrderFK}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
